@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&family=Workbench&display=swap');

:root {

    --fonte-primaria: 'Workbench', sans-serif;
    --fonte-secundaria: 'Lora', sans-serif;
    --fonte-terciaria: 'Quicksand', sans-serif;

}

header {
    background-color: #000000;
    color: #FFFFFF;
    padding: 1.1rem;
    text-align: center;
}

h1 {
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 3rem;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #616060;
    color: #FFFFFF;
}

article {
    max-width: 800px;
    text-align: justify;
}

article h2 {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: bolder;
    font-size: 2.1rem;
}

article p {
    margin-bottom: 10px;
    font-family: var(--fonte-terciaria);
    font-size: 1rem;
}

article li {
    font-family: var(--fonte-terciaria);
}

span {
    font-family: var(--fonte-primaria);
}

form {
    max-width: 400px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-family: var(--fonte-terciaria);
}

form input[type="text"] {
    width: 85%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#valores {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #000000;
    text-align: center;
    align-items: center;
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
    padding: 1rem;
}
